.ArticleList {
    text-align: center;
  }
  
  .App-link {
    color: #61dafb;
  }
  .result__container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  