
.logo a {
  padding-top: 33px;
  display: flex;
  flex-direction: column;
  clear: both;
  padding-bottom: 30px;
  text-decoration: none;

  p {
    width: 500px;
    display: block;
  }
  em {
    font-size: 0.5em;
    float: left;
    display: block;
    img {
      display: inline-block;
      margin-top: 5px;
      width: 15px;
      float: left;
    }
    .letterhead {
      display: inline-block;
      line-height: 260%;
      float: left;
    }
  }
}