.nav {
  min-width: 300px;
}

.collapsed { 
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.collapsed  > * { 
  margin-left: 16px;
}

.Container__align_center {
  display: flex;
  justify-content: center;
  align-items: center;
}