.search__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}
.search__form {
  display: grid;
  row-gap: 16px;
}

.search__input__field {
  display: flex;
  align-items: center;
}
.search__input__field > * {
  margin-left: 8px;
}

.search__Description_input {
  width: 100%;
}

.search__field__Select {
  min-width: 150px;
}